 <main>
    <!-- Home Banner -->
    <section id="home-box" class="home-banner-01 theme-after-bg grey-bg">
      <div class="container">
        <div class="row full-screen align-items-center p-100px-tb">
          <div class="col-md-6">
            <div class="home-left">
              <span></span>
              <h1 class="font-alt">Desarrollo de software <br><br><h2>Realiza tus proyectos con un aire fresco y personalizado</h2></h1>
              <p></p>
              <!-- <a class="m-btn-white" href="#">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-6" align="center">
            <img src="./styles_librarys/img/home.png" title="Desarrollo de software" alt="home">
          </div>
        </div>
      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Features -->
    <section id="features" class="feature-section section p-50px-t sm-p-0px-t grey-bg">
      <div class="container">
        <div class="row justify-content-center title-section m-60px-b sm-m-40px-b">
          <div class="col-md-8 col-lg-5 text-center">
            <h2 class="font-alt">Servicios</h2>
            <!-- <p>Estos son algunos de los servicios que ofrezco</p> -->
          </div> <!-- col -->
        </div> <!-- row -->

        <div class="row">
          <div class="col-md-4">
            <div class="feature-box-01 m-30px-b">
              <div class="f-icon"><i class="icon-genius"></i></div>
              <h4 class="font-alt">Desarrollo de Software</h4>
              <p>Especialista en desarrollo de software para entornos web, así como para aplicaciones móviles. Me apasiona la programación, me gustan los retos y en eso soy expertos.</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-box-01 m-30px-b">
              <div class="f-icon"><i class="icon-documents"></i></div>
              <h4 class="font-alt">Desarrollo Web</h4>
              <p>Siempre preparado para el desarrollo de software en tecnologías como PHP, Javascript, jQuery, WordPress, Yii, Html 5, Laravel,  etc. ¡No tengo límites!</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="feature-box-01 m-30px-b">
              <div class="f-icon"><i class="icon-recycle"></i></div>
              <h4 class="font-alt">Desarrollo a la medida</h4>
              <p>Necesita un software especializado para su empresa? Lo desarrollo con la mejor calidad posible, ¡traeme tu idea! <br><br></p>
            </div>
          </div>

        </div>
      </div> <!-- container -->
    </section>

    <!-- Clients -->
    <section id="client" class="section-clients section grey-bg border-top-grey">
      <div class="container">
        <div class="row justify-content-center title-section m-60px-b sm-m-40px-b">
          <div class="col-md-8 col-lg-5 text-center">
            <h2 class="font-alt">Clientes satisfecho</h2>
          </div> <!-- col -->
        </div>

        <div class="clients-list clients-border clients-col-3">
          <ul>
            <li>
              <img src="./styles_librarys/img/100x100.jpg" alt="" title="">
            </li>
            <li>
              <img src="./styles_librarys/img/100x100.jpg" alt="" title="">
            </li>
            <li>
              <img src="./styles_librarys/img/100x100.jpg" alt="" title="">
            </li>
            <li>
              <img src="./styles_librarys/img/100x100.jpg" alt="" title="">
            </li>
            <li>
              <img src="./styles_librarys/img/100x100.jpg" alt="" title="">
            </li>
            <li>
              <img src="./styles_librarys/img/100x100.jpg" alt="" title="">
            </li>
          </ul>
        </div>

      </div> <!-- container -->
    </section>
    <!-- / -->

    <!-- Testimonial -->
    <section id="testimonial" class="section testimonial-section grey-bg border-top-grey">
      <div class="container">

        <div class="row justify-content-center title-section m-60px-b sm-m-40px-b">
          <div class="col-md-8 col-lg-5 text-center">
            <h2 class="font-alt">Testimonios</h2>
          </div> <!-- col -->
        </div>

        <div class="row justify-content-center">
          <div class="col-md-12">
              <div id="client-slider-single" class="owl-carousel">
                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="./styles_librarys/img/100x100.jpg" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Corey Anderson</label><span>Sr. Developer</span></h6>
                    </div>
                    <div class="speac">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div> <!-- col -->  

                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="./styles_librarys/img/100x100.jpg" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Corey Anderson</label><span>Sr. Developer</span></h6>
                    </div>
                    <div class="speac">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div> <!-- col -->  

                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="./styles_librarys/img/100x100.jpg" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Corey Anderson</label><span>Sr. Developer</span></h6>
                    </div>
                    <div class="speac">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div> <!-- col -->  

                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="./styles_librarys/img/100x100.jpg" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Corey Anderson</label><span>Sr. Developer</span></h6>
                    </div>
                    <div class="speac">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div> <!-- col -->  

                <div class="testimonial-col theme-after">
                    <div class="avtar-box">
                      <span class="avtar">
                        <img src="./styles_librarys/img/100x100.jpg" alt="Shark" title="Shark" />
                      </span>
                      <h6><label>Corey Anderson</label><span>Sr. Developer</span></h6>
                    </div>
                    <div class="speac">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div> <!-- col -->  
              </div> <!-- owl -->
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!--  Testimonial End  -->

    <!-- Subscribe -->
    <section id="contact" class="section grey-bg border-top-grey">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-12 col-lg-12">
            <div class="subscribe-form">
              <div class="title-section m-60px-b text-center">
                <h2 class="font-alt">Contactame</h2>
              </div>
              <div class="row">
	              <div class="col-md-6 col-lg-6" style="margin-bottom: 2%">
	                <input type="text" class="input-control" placeholder="Nombres" name="nombres" style="width: 100%" />
	              </div>
	              <div class="col-md-6 col-lg-6" style="margin-bottom: 2%">
	                <input type="text" class="input-control" placeholder="Apellidos" name="Apellidos" style="width: 100%" />
	              </div>
	              <div class="col-md-6 col-lg-6" style="margin-bottom: 2%">
	              	<input type="text" placeholder="Celular" name="cel" class="input-control" style="width: 100%">
	              </div>
	              <div class="col-md-6 col-lg-6" style="margin-bottom: 2%">
	              	<input type="email" placeholder="Correo Electronico" class="input-control" name="" style="width: 100%">
	              </div>
	              <div class="col-md-12 col-lg-12" style="margin-bottom: 2%">
	              	<textarea class="input-control" placeholder="Mensaje" style="width: 100%; min-height: 200px"></textarea>
	              </div>
	              <div class="col-md-12 col-lg-12" align="center" style="margin-bottom: 2%">
	              	 <button class="m-btn-theme text-center" style="text-align: center; position: relative;">Enviar</button>
	              </div>
              </div>
            </div>
          </div> <!-- col -->
        </div> <!-- row -->
      </div> <!-- container -->
    </section>
    <!-- / -->
  </main>
