  <!-- Loading -->
  <div id="loading" class="loader-wrapper theme-g-bg">
    <div class="center">
      <div class="d d1"></div>
      <div class="d d2"></div>
      <div class="d d3"></div> 
      <div class="d d4"></div>  
      <div class="d d5"></div>
    </div>
  </div>
  <!-- / -->

  <!-- Header -->
  <header class="header header-01">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><img src="static/img/logo.png" title="" alt=""></a>
        <!-- / -->

        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!-- / -->

        <!-- Top Menu -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarHeader">
          <ul class="navbar-nav ml-auto">
            <li><a class="nav-link active" href="#home-box">Inicio</a></li>
            <li><a class="nav-link" href="#features">Servicios</a></li>
            <li><a class="nav-link" href="#client">Clientes</a></li>
            <li><a class="nav-link" href="#testimonial">Testimonios</a></li>
          </ul>
        </div>
        <!-- / -->
      </nav> <!-- Navbar -->     
    </div>
  </header>
  <!-- Header End -->
  
  <!-- Main Start -->
  <main>