  <!-- Footer -->
  <footer class="footer theme-g-bg">
    <section class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12 sm-m-15px-tb">
            <p>Calle 68Bis a # 105d 10, Bogota - colombia</p>
            <p><span>E-Mail:</span> t.ramosfernando@hotmail.com </p>
            <p><span>Skype:</span> fernando.ramos941001</p>
            <p><span>Cel:</span> (312) 123-456</p>
          </div> <!-- col -->
        </div>
        <div class="footer-copy">
          <div class="row">
            <div class="col-12">
              <p>© Copyright Fernando Ramos Timote</p>
            </div><!-- col -->
          </div> <!-- row -->
        </div> <!-- footer-copy -->
      </div> <!-- container -->   
    </section>
  </footer>
  <!-- / -->